<!DOCTYPE html>
<html>
<head>
  <title>Editstore</title>
  <%= stylesheet_link_tag    "editstore/application", :media => "all" %>
  <%= javascript_include_tag "editstore/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
